body{
	font-size: 1.2em;
	max-width: 800px;
	margin: 0 auto;
	background-color: #EBEDF0;
	font-family: Oswald;
}
textarea{
	max-width: 760px;
	font-size: 1.2em;
}
legend{
	color: white;
	background-color: black;
}
.A-Z{
	color: rgb(10, 191, 7);
}
.Z-A{
	color: rgb(3, 6, 66);
}
.sortAZ-ZA{
	width: 32%;
	float: left;
}
.text-transform{
	width: 58%;
	float: right;
}
button{
	width: 100px;
	box-shadow: 3px 4px 5px gray;
	border-radius: 5px;
	font-size: 1.5em;
	color: white;
	background-color: #2a2525;
	clear: both; 
}
button:hover{
	color: silver;
	background-color: white;
	box-shadow: 1px 2px 3px gray;
	border-radius: 15px;
}
h1:hover{
	color: red;
}