/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html{
  font-family: 'Slabo 27px', serif;
  font-size: 10px;
  line-height: 1.7rem;
}
h1, h2{
  font-family: 'Candal', sans-serif;
  letter-spacing: .2rem;
  text-shadow: .2rem .2rem .2rem grey;
}
h1{
  font-size: 4rem;
  line-height: 1rem;
  text-align: center;
}
h2{
  font-size: 3rem;
}
h2+p{
  padding-top: 2rem;
}
p, li{
  font-size: 1.9rem;
  line-height: 1.5em;
  letter-spacing: .1rem;
  word-spacing: .1rem;
}

/*links*/
a{
  color: #a66;
}
a[href*="http"]{
  background: url('../img/external-link-52.png') no-repeat 100% .5rem;
  background-size: 1.5rem 1.5rem;
  padding-right: 2rem;
}
a:link {
 color: #3cb915;
}

a:visited {
  color: #792C00;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: #a66;
  border-radius: .4rem;
}

a:active {
  background-color: green;
}
/*li*/
aside ul{
  list-style-type: none;
  padding-left: 2rem;
}
aside ul li {
  background: url('../img/arrow.png') no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: .2rem;
  padding-left: 2rem;
}
aside ul li:hover{
  background: url('../img/arrowHover.png') no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: .2rem;
  padding-left: 2rem;
}
/*nav*/
nav ul{
  list-style-type: none;

}
nav a{
  text-decoration: none;
}
nav ul li{
  margin-bottom: 2rem;
  border: .2rem solid #a66;
  padding: 1.5rem;
  border-radius: .5rem;
  text-align: center;
}
nav ul li:hover{
  color: white;
  background-color: #a66;
  box-shadow: .5rem .5rem .5rem silver;
}
